header#bandeau {
    height: 100px;
    background-color: #00CCFF;
    text-align: center;
}

div#contenu {
    height: 500px;
    text-align: center;
    border: 5px red solid;
}

footer#piedpage {
    height: 100px;
    background-color: #33FF99;
    text-align: center;
}

#bonjour {
    font-size: 25px;
}

#defile {
    margin: 50px;
    align-items: center;
    display: inline-block;
    padding: 50px;
}

img {
    margin: 5px;
    float: left;
    width: 300;
    height: 150px;
    align-items: flex-start;
}