header#bandeau {
    height: 100px;
    background-color: #00CCFF;
    text-align: center;
}

div#contenu {
    height: 500px;
    text-align: center;
    border: 5px red solid;
}

footer#piedpage {
    height: 100px;
    background-color: #33FF99;
    text-align: center;
}